<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>教师节快乐</title>
<meta keywords="教师节快乐，教师，保险，教师买什么保险好"/>
<meta description="教师节快乐，教师，保险，教师买什么保险好"/>
<style type="text/css">
body {
  font-family: "微软雅黑";
  font-size: 16px;
  color: #333;
  text-align: center;
}
</style>
</head>
<body>
<h1>老师，节日快乐！</h1>
 <%=image_tag "teacher/flower_for_teacher.gif" %>
<p>      <strong>您用生命的火炬照亮了我前进的道路，我要衷心对您说一声：谢谢您，老师</strong></p>
<p>      小时候总觉得您太严厉，现在才知道这是您爱的表现。老师，祝您节日快乐！</p>
<p>      当我第一次走进课堂，叫您一声老师时，便意味着我一生都做您的学生。</p>
<p>      在人生的旅途上，是您为我点燃希望的光芒，给我插上理想的翅膀，翱翔在知识的海洋上。感谢您，老师！</p>
<p>      三年过去了，一切都变成那昏黄色的画面。怀念操场，怀念教室，更怀念您！！我的老师！教师节快乐！</p>
<p>      讲台上，书桌旁，寒来暑往，春夏秋冬，撒下心血点点。辛苦了，我的老师。</p>
<p>      如果我是诗人，我将以满腔的热情写下诗篇，赞美大海的宽广和深远。并把它献给您？？我的胸怀博大、知识精深的老师。</p>
<p>      春雨，染绿了世界，而自己却无声地消失在泥土之中。老师，您就是我们心田的春雨，我们将永远感谢您。</p>
<p>      您是火种，点燃了学生的心灵之火；您是石阶，承受着我一步步踏实的向上的攀登；您是蜡烛，燃烧了自己照亮了别人。</p>
<p>      将来，无论我成为参天大树，还是低矮的灌木，我都将以生命的翠绿向您祝福，我的老师！</p>
<p>      您是一片神奇的海滩，任我俯拾人世间那些美丽的贝壳。祝您教师节快乐！</p>
<p>      您像一只蜡烛，为学生献出了所有的光和热！您的品格和精神，可以用两个字概括，那就是燃烧！</p>
<p>      像天空一样高远的是您的胸怀、像大山一样深重的是您的恩情、请您接受我诚挚的祝福吧，教师节快乐！</p>
<p>      阳光普照，园丁心坎春意暖；雨露滋润，桃李蓓蕾红。您辛苦了！祝您教师节快乐。</p>
<p>      作为父母，我们深知您在我们孩子成长道路中的重要。谢谢您所做的一切，衷心感谢您，我孩子的恩师。</p>
<p>      你不仅是一位合格的教师，更是一位好朋友，谢谢你所做的一切。</p>
 <%=image_tag "teacher/flower_for_teachers.gif" %>
<p>      我愿将我的祝愿和感激，浓缩了我对你的祝愿，愿你的每一年，每一天都充满了幸福和喜悦！</p>
<p>      孜孜不倦排难解惑，兢兢业业传道授业。那里是你挥洒青春的天地，那里是我们求知的天堂。千言万语道不尽，汇集而成祝福你。</p>
<p>      常怀感恩的人是幸福的人，懂得感恩的人是快乐的人，经常感恩的人是成功的人，朋友，在教师节到来的时候，让我们一起祝愿，一起送上我们感恩的问候吧。</p>
<p>      讲台上，书桌边，寒来暑去，洒下心血点点。浇花朵，育桃李，春华秋实，奉献赤诚一片。感谢您对我的教诲，祝老师节日快乐永葆青春!</p>
<p>      一只粉笔，两袖清风，三尺讲台，此生无悔，甘洒热血诚滋天下莘莘学子。四书五经，五脏六腑，七嘴八舌，在世无怨，愿抛赤心爱润人类灵魂工程。</p>
<p>      有一种精神叫奉献;有一种品质很无私;有一种比喻为蜡烛;有一种职业是教师。儿时不识师恩重，长大才知老师亲。老师，教师节快乐!</p>
<p>      子曰：三人行，必有我师焉。古语云：师者，传道授业解惑也。俗话说：教师是太阳底下最光辉的职业。我认为：老师是我们知识的父母。老师，节日快乐!</p>
<p>      你的工作很普通，却被誉为阳光下被光辉的职业;你的工作很寻常，却被称作人类灵魂的工程师;你就是我们敬爱的老师，教师节到了，祝您节日快乐!</p>
<p>      都说你是人类灵魂的工程师;都说你是传播知识的天使;都说你是蜡烛，燃烧自己照亮别人;都说你是粉笔，牺牲自己书写希望。老师，节日快乐!</p>
<p>      不曾忘我犯错时你严厉的教鞭，不曾忘我认真时你欣慰的笑脸，还记得你工作时的专注，还记得你课堂上的谨严，亲爱的老师，祝您节日快乐!</p>
<p>      你是到死丝才尽的春蚕，为我们把你的青春奉献;你是成灰的蜡烛泪方干，为我们指引美好的明天。亲爱的老师，教师节了，祝您节日快乐!</p>
 <%=image_tag "teacher/flower_for_teachs_day.gif" %>   
<p>      发这条短信的目的是提醒你，今天是九月十日教师节，你该发条祝福短信给我，什么?我不是你老师?孔子不是说三人行必有我师吗?我俩天天在一块，应该能算你老师吧!</p>
<p>      你是到死丝才尽的春蚕，为我们把你的青春奉献;你是成灰的蜡烛泪方干，为我们指引美好的明天。亲爱的老师，教师节了，祝您节日快乐!</p>
<p>      发这条短信的目的是提醒你，今天是九月十日教师节，你该发条祝福短信给我，什么?我不是你老师?孔子不是说三人行必有我师吗?我俩天天在一块，应该能算你老师吧!</p>
<p>      十年寒窗,昨日沙场，点兵授将，奔向前方;传道授业，排除迷茫，不辞辛劳，恩在四方。感激之情，不在纸上，老师安康!</p>
<p>      小朋友,多努力,好好学习;小同学,多刻苦,天天向上;张大后,不忘记,教师节,发信息,祝老师,身体好,节日乐!</p>
<p>      一支粉笔两袖清风，三尺讲台四季晴雨。今天教师节，最是师恩难忘时，向所有教师送上诚挚的祝福!秋风拂面，凉意渐浓，秋日保健多喝蜂蜜少吃姜，秋燥远离您!</p>
<p>      毫无疑问，成功源自您的栽培，优秀出自您的耕耘;为今天喝彩的同时，我们永远铭记您当初的教诲和箴言!祝福您，老师：愿您桃李满天下，春晖遍四方!</p>
<p>      若我是平民，您就是平民的老师;若我是CEO，您就是CEO的老师;若我是总统，您就是总统的老师;不管我人生的路将是怎样，我都会永远尊敬您，老师!</p>
 <%=image_tag "teacher/flower_teacher.gif" %>
<p>      恩师：春蚕到死丝方尽，蜡炬成灰泪始干，这是对您的真实写照，您用切实行动做了精彩诠释，您的无私奉献学生历历在目，您辛勤培育学生铭记在心，学生一直在努力对您的付出做尽可能地回报，在教师节到来之际，学生真诚地祝您节日快乐，天天开心。
曾经,恨你对我严厉.如今,感谢你的严厉,因为你的严厉,才使我的人生充满意义.老师,节日快乐,您辛苦了!</p>
<h2>老师, 谢谢您！</h2>
<h2>谢谢您</h2>
<h2>老师</h2>
<h2><a href="http://www.baoxian028.com">@</a></h2>
</body>
</html>
