@charset "UTF-8";

 /**
  * @section browser reset
  * @see     http://www.yaml.de/en/documentation/css-components/base-stylesheet.html
  */

  /* (en) Global reset of paddings and margins for all HTML elements */
  /* (de) Globales Zurücksetzen der Innen- und Außenabstände für alle HTML-Elemente */
  * { margin:0; padding:0; }

  /* (en) Correction:margin/padding reset caused too small select boxes. */
  /* (de) Korrektur:Das Zurücksetzen der Abstände verursacht zu kleine Selectboxen. */
  option { padding-left:0.4em; } /* LTR */
  select { padding:1px; }

 /**
  * (en) Global fix of the Italics bugs in IE 5.x and IE 6
  * (de) Globale Korrektur des Italics Bugs des IE 5.x und IE 6
  *
  * @bugfix
  * @affected   IE 5.x/Win, IE6
  * @css-for    IE 5.x/Win, IE6
  * @valid      yes
  */
  * html body * { overflow:visible; }
  * html iframe, * html frame { overflow:auto; }
  * html frameset { overflow:hidden; }

  body {
    /* (en) Fix for rounding errors when scaling font sizes in older versions of Opera browser */
    /* (de) Beseitigung von Rundungsfehler beim Skalieren von Schriftgrößen in älteren Opera Versionen */
    font-size:100.01%;

    /* (en) Standard values for colors and text alignment */
    /* (de) Vorgabe der Standardfarben und Textausrichtung */
    background:#fff;
    color:#000;
    text-align:left; /* LTR */
  }

  /* (en) avoid visible outlines on DIV containers in Webkit browsers */
  /* (de) Vermeidung sichtbarer Outline-Rahmen in Webkit-Browsern */
  div { outline:0 none; }

  /* (en) Clear borders for <fieldset> and <img> elements */
  /* (de) Rahmen für <fieldset> und <img> Elemente löschen */
  fieldset, img { border:0 solid; }

  /* (en) new standard values for lists, blockquote and cite */
  /* (de) Neue Standardwerte für Listen & Zitate */
  ul, ol, dl { margin:0 0 1em 1em; } /* LTR */
  li {
    line-height:1.5em;
    margin-left:0.8em; /* LTR */
  }

  dt { font-weight:bold; }
  dd { margin:0 0 1em 0.8em; } /* LTR */

  blockquote { margin:0 0 1em 0.8em; } /* LTR */

  blockquote:before, blockquote:after,
  q:before, q:after { content:""; }


  body { overflow-y:scroll; margin: 0px; }

/**
  * @section base layout | Basis Layout
  * @see     http://www.yaml.de/en/documentation/css-components/base-stylesheet.html
  *
  * |-------------------------------|
  * | #header                       |
  * |-------------------------------|
  * | #col1   | #col3     | #col2   |
  * | 200 px  | flexible  | 200px   |
  * |-------------------------------|
  * | #footer                       |
  * |-------------------------------|
  */

  #header { position:relative; }

  /* (en) Text Alignment for #topnav content */
  /* (de) Textausrichtung für #topnav Inhalte */
  #topnav { text-align: right; }  /* LTR */

  /* (en) Absolute positioning only within #header */
  /* (de) Absolute Positionierung erfolgt nur innerhalb von #header */
  #header #topnav {
    position:absolute;
    top: 10px;
    right: 10px; /* LTR */
  }

  /* (en) Backup for correct positioning */
  /* (de) Absicherung korrekte Positionierung */
  #header, #nav, #main, #footer { clear:both; }

  /* (en/de) Standard: 200 Pixel */
  #col1 { float: left; width: 200px }
  /* (en/de) Standard: 200 Pixel */
  #col2 { float:right; width: 200px }
  /* (en) Standard: center column with flexible width */
  /* (de) Standard: Flexible mittlere Spalte */
  #col3 { width:auto; margin: 0 200px }

  /* (en) Preparation for absolute positioning within content columns */
  /* (de) Vorbereitung für absolute Positionierungen innerhalb der Inhaltsspalten */
  #col1_content, #col2_content, #col3_content { position:relative; }
  /*------------------------------------------------------------------------------------------------------*/
  
  body { background:#fff url("../../images/bg-2.jpg") repeat-x top left fixed; padding:0px 0; }

  body { text-align:center; }
  .page_margins { text-align:left; margin:0 auto; }

  .page_margins { min-width:740px; max-width:80em;}
  .page { padding:0 10px 10px 10px; }

  #nav, #main, #footer { clear:both; }

  #header{
    background: #fff;
    height: 100px;
  }

  #nav ul { margin-left:0px; }

  #main { background:#fff;padding:0px; }  

  #footer {
    color:#666;
    background:#f9f9f9;
    padding:10px 20px;
    border-top:5px #efefef solid;
    line-height:1.5em;
  }

  /*------------------------------------------------------------------------------------------------------*/


 /*------------------------------------------------------------------------------------------------------*/
  /**
   * (en) Formatting content container
   * (de) Formatierung der Inhalts-Container
   *
     /**
   * (en) Repositioning content container
   * (de) Neupositionierung der Content Container
   *
   * |-------------------------------|
   * | #header                       |
   * |-------------------------------|
   * | #col3   | #col1               |
   * | flexible| 75%                 |
   * |         | #col1_1    #col1_2  |
   * |         | 50%     |   50%     |
   * |-------------------------------|
   * | #footer                       |
   * |-------------------------------|
   */
  /* #col1 becomes main column | Linke float-Spalte wird zur Inhaltsspalte */
	  #col1 { width: 75%; }
	
	  /* extend page2 */
	  #col1_1 { width: 50%; float:right;}
	  #col1_1_content { padding-left: 10px; padding-right: 20px; }

    #col33{margin-left: 75%; margin-right:0;}
    #col33_content {
      padding-left: 4px;
      padding-right: 0px;
    }
		  /* #col3 moves to the right | Linken Randabstand anpassen - #col3 wird zur Randspalte */
	  #col3 { margin-left:75.5%; margin-right:0; }
	  #col3_content {
    	padding-left: 4px;
    	padding-right: 0px;
    }

	.detail {}
	.detail #col1 { width: 67.5%; font-size:110.00%; line-height: 28px; }
	.detail #col3 { margin-left: 67.5%; margin-right:0; border-right:1px #efefef solid;background:#f9f9f9;}
	.detail #col3_content { padding-right: 4px;}

	.page2 {font-size:110.00%;}
	.page2 #col1 { width: 35%; border-right:1px #efefef solid;background:#f9f9f9;}
	.page2 #col2, #col2_content { display:none }
	.page2 #col3 { margin-left: 35%; margin-right:0; }
	.page2 #col3_content { padding-left: 10px; padding-right: 20px; }
 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * (en) Styling of layout specific elements
  * (de) Gestaltung layoutabhängiger Elemente
  */

  


  #footer a { color:#999; background:transparent; font-weight:bold; }
  #footer a:focus,
  #footer a:hover,
  #footer a:active {color:#4D87C7; background-color:transparent; text-decoration:underline; }

 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Skiplinks 
  *
  * (en) Visual styling for skiplink navigation
  * (de) Visuelle Gestaltung der Skiplink-Navigation
  *
  * @section content-skiplinks
  */
  
  #skiplinks a.skip:focus,
  #skiplinks a.skip:active { 
	color:#fff; 
	background:#333; 
	border-bottom:1px #000 solid;
	padding:10px 0;
	text-decoration:none;
  }
/**
  * on index */
  #index_news {background: url(../../images/lanmu_bg.jpg) no-repeat; padding:0px 0; color:#1d619c;}
  #index_news h2{color:#fff; padding: 10px 0 4px 20px; font-size:14px;}

  #col3 h2 {
  	font-size: 14px;
  	color: #666;
  	background-color: #F5F4E2;
  	padding: 4px;
  	margin: 0px;
  	border-bottom-width: 1px;
  	border-bottom-style: solid;
  	border-bottom-color: #cccc99;
  }

.ins_logo_box {
	margin: 0px;
	padding: 0px;
}
.ins_logo_box ul {
  float: left;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.ins_logo_box  li {
	margin: 2px;
	float: left;
	width: 106px;
}
.ins_logo_box li img {
	vertical-align: middle;
}
.ins_logo_box li a {
    padding: 4px 0;
	display:block;
	border: 1px solid #EEECCC;
}
.ins_logo_box li a:hover {
	background-color: #F5F4E2;
	border: 1px solid #ddd;
}
