@charset "UTF-8";
/**
 * wenba detail
 *
 */

  /* --- Lists | Listen  -------------------------------------------------------------------------------- */
.wenba_detail {
	margin-bottom: 12px;
	margin-right: 12px;
}
.wenba_detail_nav{
	background: #1d619c;
	font-size: 1.2em;
	color: #fff;
	margin: 0px;
	padding: 5px;
}
.wenba_detail_nav a:link{
	color: #fff;
}
.wenba_detail_nav a:visited{
	color: #fff;
}
.wenba_question h2 {
	padding-top: 6px;
	padding-left: 6px;
	font-size: 24px;
	font-weight: bold;
	line-height: 35px;
	color: #1D619C;
}
.wenba_detail .wenba_question .wenba_question_content {
	background-color: #FFF;
	text-align: left;
	color: #248AC8;
}
.wenba_question_content .wenba_question_detail {
	padding: 12px;
}

.wenba_answer_list .best_answer {
	padding: 4px;
}
.wenba_answer_list .answer_d {
	padding-bottom: 10px;
}
.d_t{
	background-color: #9FC5E6;
	text-align: center;
	vertical-align: middle;
	padding: 2px;
	height: 30px;
	border: 1px solid #69F;
	color: #FFF;
	display: inline;
	font-weight: bold;
	font-size: 14px;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-left: -2px;
}

.wenba_detail .wenba_answer_list {
	border: 3px solid #eee;
}
.wenba_answer_list .wenba_answer_list_content {
	background-color: #FFF;
	text-align: left;
	padding: 10px;
	line-height: 2em;
	font-size: 1.2em;
}
  /* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */
ul.category{
	margin: 0px;
}
ul.category li{
	margin: 10px 0;
}
/***********/
.title-list ul {
	margin: 0px;
	padding: 0px;
}
.title-list ul li {
	float: left;
	width: 100px;
	min-height: 25px;
	max-height: 40px;
	margin: 5px;
	padding: 4px 0 0 0;
	list-style-type: none;
	border: 1px solid #CCC;
	display: block;
	background-color: #f9f9f9;
}
.title-list ul li a {
	text-decoration: none;
	text-align: center;
	vertical-align: bottom;
	display: block;
	font-size: 14px;
}
.title-list ul li:hover {
	background-color: #cccc99;
	font-weight: 500;
}