// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tag{
  padding: 4px;
  margin:2px;
  font-size: 12px;
}
.rand1{
  font-size: 10px;
}
.rand2{
  font-size: 14px;
}
.rand3{
  font-size: 16px;
}
.rand4{
  font-size: 18px;
}
.rand5{
  font-size: 20px;
}
.rand6{
  font-size: 22px;
}
.rand7{
  font-size: 24px;
}
.rand8{
  font-size: 28px;
}
.rand9{
  font-size: 30px;
}
.rand10{
  font-size: 32px;
}
.rand11{
  font-size: 34px;
}
.rand12{
  font-size: 36px;
}
.rand13{
  font-size: 38px;
}