 <div id="footer" role="contentinfo">
        有情链接：
        <a href="http://www.pingan.com" target="_blank">中国平安</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://www.pinganlife.cn/">平安人寿在线</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://insurance.hexun.com/">和讯保险</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://finance.sina.com.cn/money/insurance/index.html">新浪保险</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://insurance.cnfol.com/">中金在线</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://insurance.jrj.com.cn/">金融界保险</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://money.163.com/licai/">网易理财</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://money.msn.com.cn/">MSN理财</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://money.sohu.com/baoxian/">搜狐保险</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://finance.qq.com/money/">腾讯理财</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://finance.people.com.cn/insurance/">人民网保险</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://www.xiangrikui.com/">向日葵</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://finance.ifeng.com/money/">凤凰网理财</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://www.china-insurance.com/">中国保险网</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://insurance.zgjrw.com/">金融网保险</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://www.qzr.cn/">圈中人保险网</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://www.insurance.org.cn/">万家保险网</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://www.bxjob.net/">中国保险人才网</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://www.kblcw.com/">口碑理财网</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://www.chinabx.com/">保险资讯</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://www.afinance.cn/">第一金融网</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://zgcaifu.com/">中国财富网</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://www.ocn.com.cn/">中投顾问</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://finance.joy.cn">激动财经</a>&nbsp;&nbsp;
        <a target="_blank" href=" http://www.ubao.com/">优保网</a>&nbsp;&nbsp;
      <br />
      <br/>
        <div id='idclogos'><center>
          <img src='http://www.baoxian028.com/assets/biaoshi-1.gif' alt='营业执照' width='29' height='29' border='0' />
          <a href='http://sc.12321.cn/' target='_blank'></a><a href='http://www.cdnet110.com' target='_blank'><img src='http://www.baoxian028.com/assets/ico_wj.gif' alt='网上警察' width='29' height='29' border='0' /></a>
          <a href='http://www.baoxian028.com/' target='_blank'><img src='http://www.baoxian028.com/assets/53kfindex.gif' alt='联系在线客服' width='29' height='29' border='0' /></a>
          <a target='_blank' href='http://wpa.qq.com/msgrd?v=3&uin=29928649&site=qq&menu=yes'><img src='http://www.baoxian028.com/assets/qq_online.jpg' alt='企业QQ' width='29' height='29' border='0' /></a>
          <a href='http://www.baoxian028.com/contact.html'><img src='http://www.baoxian028.com/assets/qus.jpg' width='29' height='29' alt='有问必答' /></a>
        <br/>
        <a href='http://www.miibeian.gov.cn' target='_blank'>蜀ICP备11016427号</a>
        </center></div>

</div>