<!-- <form action="/search" class="xform">
  <div class="type-text">
    <input name="q" id="q" type="text" size="24" class="type-input gray" style="width:160px;" value="买什么保险好？"/>
    <input type="submit" value="搜一下" class="type-button"/>
  </div>
</form> -->