<div id="header" role="banner">
  <div id="logo" style="margin-top: 40px;"
    <h1><a href="/"><img src="/assets/logo.png" width='240px'/></a></h1>
    <span><img src="/assets/logo_blew.png"/></span>
  </div>

  <div id="topnav">
    <div id='basic-modal'>
     <span class = 'phone'><a href="#" class='basic'><img src="/assets/phone.png"/></a></span>
     <div style="margin-top: 20px;">
        <%=render :partial => "layouts/form" %>
     </div>
    </div>
  </div>

</div>

<!-- begin: main navigation #nav -->
<div id="nav"  role="navigation">
  <div class="hlist">
    <ul>
      <li><a href="/">首页</a></li>
      <li><a href="/news_cates/人寿保险" target="_blank">人寿保险</a></li>
      <li><a href="/news_cates/少儿保险" target="_blank">少儿保险</a></li>
      <li><a href="/news_cates/养老保险" target="_blank">养老保险</a></li>
      <li><a href="/news_cates/医疗保险" target="_blank">医疗保险</a></li>
      <li><a href="insurance_base/0_0.html">保险常识</a></li>
       <li><a href="/news_cates/投保案例" target="_blank">投保案例</a></li>
      <li><a href="/news_cates/咨询问答" target="_blank">咨询问答</a></li>
      <li><a href="/news_cates/保险博客" target="_blank">保险博客</a></li>
      <li><a href="/jobs.html" target="_blank">招贤纳士</a></li>
      <li><a href="/contact.html" target="_blank">联系我们</a></li>
       <li><a href="/contacts/new" target="_blank"><span style="color:red;">咨询</span></a></li>
      <!-- <li><a href="/tuan/index.html" target="_blank"><span style="color:red; font-weight:600;">团购<img src="/assets/g_hot.gif"/></span></a></li> -->
    </ul>
  </div>
  <div class="hlist2">
  <ul id='nav_post' class='nav_post'>
    <li><a href="/news_cates/平安动态" target="_blank">平安动态</a></li>
    <li><a href="/news_cates/投保技巧" target="_blank">投保技巧</a></li> 
    <li><a href="/news_cates/投资型保险" target="_blank">投资型保险</a></li>
    <li><a href="/news_cates/投资连结保险" target="_blank">投资连结险</a></li>
    <li><a href="/news_cates/营销与管理" target="_blank">营销管理</a></li>
    <li><a href="/news_cates/行业资讯" target="_blank">行业资讯</a></li>
    <li><a href="/news_cates/产品信息" target="_blank">产品信息</a></li>
    <li><a href="/news_cates/保险规划" target="_blank">保险规划</a></li>
    <li><a href="/news_cates/健康险" target="_blank">健康险</a></li>
    <li><a href="/news_cates/女性险" target="_blank">女性险</a></li>
    <li><a href="/news_cates/家财险" target="_blank">家财险</a></li>
    <li><a href="/news_cates/意外险" target="_blank">意外险</a></li>
    <li><a href="/news_cates/车险" target="_blank">车险</a></li>
    
  </ul>
  </div>
  <div class="hlist3">
  <ul id='nav_wenba' class='nav_wenba'>
    <li><a href="/news_cates/万能保险" target="_blank">万能保险</a></li>
    <li><a href="/news_cates/分红保险" target="_blank">分红保险</a></li>
    <li><a href="/news_cates/医疗保险" target="_blank">医疗保险</a></li>
    <li><a href="/news_cates/商业养老保险" target="_blank">商业养老保险</a></li>
    <li><a href="/news_cates/商业医疗保险" target="_blank">商业医疗保险</a></li>
    <li><a href="/news_cates/团体保险" target="_blank">团体保险</a></li>
    <li><a href="/news_cates/失业保险" target="_blank">失业保险</a></li>
    <li><a href="/news_cates/工伤保险" target="_blank">工伤保险</a></li>
    <li><a href="/news_cates/旅游保险" target="_blank">旅游保险</a></li>
    <li><a href="/news_cates/生育保险" target="_blank">生育保险</a></li>
    <li><a href="/news_cates/重大疾病保险" target="_blank">重大疾病保险</a></li>
    <li><a href="/news_cates/成都保险公司列表" target="_blank">成都保险公司列表</a></li>
  </ul>
  </div>
</div>