<div id="header" role="banner">
  <div id="logo" style="margin-top: 40px;"
    <h1><a href="/"><img src="/assets/logo.png" width='240px'/></a></h1>
    <span><img src="/assets/logo_blew.png"/></span>
  </div>

  <div id="topnav">
    <div id='basic-modal'>
     <span class = 'phone'><a href="#" class='basic'><img src="/assets/phone.png"/></a></span>
     <div style="margin-top: 20px;">
        <%#=render :partial => "layouts/form" %>
     </div>
    </div>
  </div>

</div>

<!-- begin: main navigation #nav -->
<div id="nav"  role="navigation">
  <div class="hlist">
    <ul>
      <li><a href="/">首页</a></li>
      <li><a href="/news_cates/1" target="_blank">保险资讯</a></li>
      <li><a href="/news_cates/ren-shou-bao-xian" target="_blank">人寿保险</a></li>
      <li><a href="/news_cates/shao-er-bao-xian" target="_blank">少儿保险</a></li>
      <li><a href="/news_cates/yang-lao-bao-xian" target="_blank">养老保险</a></li>
      <li><a href="/news_cates/yi-liao-bao-xian" target="_blank">医疗保险</a></li>
      <li><a href="insurance_base/0_0.html">保险常识</a></li>
       <li><a href="/news_cates/tou-bao-an-li" target="_blank">投保案例</a></li>
      <li><a href="/news_cates/zi-xun-wen-da" target="_blank">咨询问答</a></li>
      <li><a href="/news_cates/bao-xian-bo-ke" target="_blank">保险博客</a></li>
      <li><a href="/pages/contact" target="_blank">联系我们</a></li>
       <li><a href="/contacts/new" target="_blank"><span style="color:red;">咨询</span></a></li>
      <!-- <li><a href="/tuan/index.html" target="_blank"><span style="color:red; font-weight:600;">团购<img src="/assets/g_hot.gif"/></span></a></li> -->
    </ul>
  </div>
  <div class="hlist2">
  <ul id='nav_post' class='nav_post'>
    <li><a href="/news_cates/tou-bao-ji-qiao" target="_blank">投保技巧</a></li> 
    <li><a href="/news_cates/tou-zi-xing-bao-xian" target="_blank">投资型保险</a></li>
    <li><a href="/news_cates/tou-zi-lian-jie-bao-xian" target="_blank">投资连结险</a></li>
    <li><a href="/news_cates/ying-xiao-yu-guan-li" target="_blank">营销管理</a></li>
    <li><a href="/news_cates/hang-ye-zi-xun" target="_blank">行业资讯</a></li>
    <li><a href="/news_cates/chan-pin-xin-xi" target="_blank">产品信息</a></li>
    <li><a href="/news_cates/bao-xian-gui-hua" target="_blank">保险规划</a></li>
    <li><a href="/news_cates/jian-kang-xian" target="_blank">健康险</a></li>
    <li><a href="/news_cates/nv-xing-xian" target="_blank">女性险</a></li>
    <li><a href="/news_cates/jia-cai-xian" target="_blank">家财险</a></li>
    <li><a href="/news_cates/yi-wai-xian" target="_blank">意外险</a></li>
    <li><a href="/news_cates/che-xian" target="_blank">车险</a></li>
    <li><a href="/product_cates" target="_blank"><span style="color:red; font-weight:600;">保险产品</span></a></li> 
    <li><a href="/news_cates/cd12333" target="_blank"><span style="color:red; font-weight:600;">成都社保咨询</span></a></li>
    
  </ul>
  </div>
  <div class="hlist3">
  <ul id='nav_wenba' class='nav_wenba'>
    <li><a href="/news_cates/wan-neng-bao-xian" target="_blank">万能保险</a></li>
    <li><a href="/news_cates/fen-hong-bao-xian" target="_blank">分红保险</a></li>
    <li><a href="/news_cates/yi-liao-bao-xian" target="_blank">医疗保险</a></li>
    <li><a href="/news_cates/shang-ye-yang-lao-bao-xian" target="_blank">商业养老保险</a></li>
    <li><a href="/news_cates/shang-ye-yi-liao-bao-xian" target="_blank">商业医疗保险</a></li>
    <li><a href="/news_cates/tuan-ti-bao-xian" target="_blank">团体保险</a></li>
    <li><a href="/news_cates/shi-ye-bao-xian" target="_blank">失业保险</a></li>
    <li><a href="/news_cates/gong-shang-bao-xian" target="_blank">工伤保险</a></li>
    <li><a href="/news_cates/lv-you-bao-xian" target="_blank">旅游保险</a></li>
    <li><a href="/news_cates/sheng-yu-bao-xian" target="_blank">生育保险</a></li>
    <li><a href="/news_cates/mai-shen-me-bao-xian-hao" target="_blank">买什么保险好</a></li>
    <li><a href="/news_cates/cheng-du-bao-xian-gong-si-lie-biao" target="_blank">成都保险公司列表</a></li>
  </ul>
  </div>
</div>