<div class="index_main_list">
  <div class="index_main_list_content">
    <table width="100%">
     <tr><td width="100%" valign="top">
         <ul class="ie_li">
           <% NewsCate.order('id desc').each_with_index do |item, index| %>
             <%= news_cate_tag_li(item) %>
           <% end %>
        </ul>
     </td></tr>
    </table>
  </div>
</div>