<div style="background: #fff;">
<table width="100%">
  <tr>
  <td><img src = "/assets/zhishengrensheng.jpg" width="100px"/></td>
  <td><img src = "/assets/jinyurensheng.JPG"   width="100px"/></td>
  <td><img src = "/assets/xs.jpg"   width="120px"/></td>
  <td><img src = "/assets/sjtj.jpg"  width="120px"/></td>
  <td><img src = "/assets/sjts.jpg"  width="120px"/></td>
  <td><img src = "/assets/sjtj.jpg"  width="120px"/></td>
  <td><img src = "/assets/sjts.jpg"  width="120px"/></td>
  </tr>
  <tr>
  <td><a href="http://life.pingan.com/wannengxian/zhishengrensheng.shtml" target="_blank" xml="lang">智胜人生终身寿险（万能型）</a></td>
  <td><a href="http://life.pingan.com/fenhongbaoxian/jinyurensheng.shtml" target="_blank" xml="lang">平安金裕人生两全保险（分红型）</a></td>
  <td><a href="http://life.pingan.com/fenhongbaoxian/shijitongxiang.shtml" target="_blank" xml="lang">平安世纪同祥终身寿险(分红型)</a></td>
  <td><a href="http://life.pingan.com/toulianxian/jufuniannian.shtml" target="_blank" xml="lang">平安聚富年年投资连结保险</a></td>
  <td><a href="http://life.pingan.com/fenhongbaoxian/hongxin.shtml" target="_blank" xml="lang">平安鸿鑫终身寿险（分红型，2004）</a></td>
  <td><a href="http://life.pingan.com/shaoerbaoxian/jixingsongbao.shtml" target="_blank" xml="lang">平安人寿吉星送宝少儿两全保险（分红型）</a></td>
  <td><a href="http://life.pingan.com/shaoerbaoxian/shijitianshi.shtml" target="_blank" xml="lang">平安人寿世纪天使少儿两全保险（分红型）</a></td>
  </tr>
</table>
</div>