<div>
    <a href="http://www.circ.gov.cn/web/site0/tab4199/" target="_blank"><img src="/assets/bannerx.jpg" width="210px"/></a>     
    <h2>关于我们</h2>
    <p style="padding:4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>成都保险咨询网</b>
    提供专业的保险咨询、投保、理财、车险、医疗、意外、人寿等保险服务。
    经验丰富的专家团队不单纯地提供保险产品,其严谨的设计和内含的愿望已经超越了险种本身。
    它带给每位客户专业、贴心的保险体验，满足投保者幸福生活的愿望。
    </p>
    <a href="http://www.circ.gov.cn/web/site0/tab4199/" target="_blank"><img src="/assets/baojianhui.gif" width="210px"/></a><br/>
    <a href="http://www.gov.cn/jd90zn/" target="_blank"><img src="/assets/90zn.gif" width="210px"/></a><br/>
</div>

<div class="ins_logo_box">
    <h2 >保险品牌</h2>
    <ul class="inslogo clear">
        <li><a  href="#" title="中国平安养老保险股份有限公司"><img src="/assets/ins/pingan.gif" alt="平安养老">平安养老</a></li>
        <li><a  href="#" title="中国太平洋财产保险股份有限公司"><img src="/assets/ins/cpic.gif" alt="太平洋财险">太平洋财险</a></li>
        <li><a  href="#" title="中国大地财产保险股份有限公司"><img src="/assets/ins/dadi.jpg" alt="大地财险">大地财险</a></li>
        <li><a  href="#" title="中国平安财产保险股份有限公司"><img src="/assets/ins/pingan.gif" alt="平安财产">平安财产</a></li>
        <li><a  href="#" title="都邦财产保险股份有限公司"><img src="/assets/ins/dubang.gif" alt="都邦财险">都邦财险</a></li>
        <li><a  href="#" title="泰康人寿保险股份有限公司"><img src="/assets/ins/taikang.gif" alt="泰康人寿">泰康人寿</a></li>
        <li><a  href="#" title="中德安联人寿保险有限公司"><img src="/assets/ins/allianz.gif" alt="中德安联">中德安联</a></li>
        <li><a  href="#" title="太平人寿保险有限公司"><img src="/assets/ins/tplife.gif" alt="太平人寿">太平人寿</a></li>
    </ul>
</div>
